body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #A8DCF0;
    margin: 0 auto;

    h1 {
        font-size: 35px;
        text-transform: uppercase;
    }

    .counter-preview {
        font-size: 8rem;
        font-weight: bold;
        color: #333;
    }

    button{
        color:#fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        margin-left: 1rem;
        margin-top: 20px;
    }

        .decrement{
            background-color: #4caf50;
        }
        .reset{
            background-color: #f44336;
        }
        .increment{
            background-color: #2196f3;
        }

   
}